---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%Y. %m. %d' }}</span>
  {% include post_tags.html %} </br>
  {{ content }}
</div>

<div class="related">
  <div class="related_posts_head">Related Posts</div>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <div class="related_posts_text">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: '%Y. %m. %d' }}</small>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>


{% include disqus.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/jquery.toc-1.1.4.min.js"></script>
<!-- TOC Generator -->
<script>
   $('#toc').toc({exclude: 'h1, h6', autoId: true});

   $( document ).ready(function(){
      $("#test_btn").click(function(){
        console.log("??")
          $.post( "https://codly.co.kr/login_from_netffice", { email: "in1004kyu@naver.com", sid: "9415b3f0-0410-40c2-856c-2fb377194aa6" } );
            //<a rel="nofollow" data-method="post" href="https://codly.co.kr/login_from_netffice?email=in1004kyu%40naver.com&sid=9415b3f0-0410-40c2-856c-2fb377194aa6">자동로그인 테스트</a>          
        });
   });
  
  
  


</script>